---
interface Props {
	icon: string;
	body: string;
	href: string;
	title: string;
}

const { href, icon, body, title} = Astro.props;
const select = body == title ? "enlace-activo": "";
---
	  

	    <li class= `rounded-lg opacity-80  flex-center w-11/12 h-fit py-1 color5 ${select}`>
		<a href={href} class="flex-center w-4/5 " title={body} transition:name={body}>
		  <h2>
			<span class= ` ${icon}  size-6 bg5" `>.</span>
		  </h2>
		  <p >
			<span>{body}</span>
		  </p>
		</a>
	  </li>
	
	
	  

	  
